<br />
<div class="heddoko-panel-white">
    <div class="filters usersAdminFilter">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label for="usersAdminSearch" class="control-label">@i18n.Resources.Search</label>
                    <input id="usersAdminSearch"
                           class="form-control"
                           type="text"
                           placeholder="@i18n.Resources.EnterUser"
                           data-bind="value: search, events:{ keyup: keyup }" />
                </div>
                <div class="col-md-1">
                    <button type="button" data-bind="click: find" class="hdk-btn" style="margin-top:27px;">@i18n.Resources.Find</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="usersAdminGrid">

            </div>
        </div>
    </div>
</div>