@model Services.MailSending.Models.ForgotPasswordEmailViewModel

@{
    Layout = "_LayoutEmail";
}

Hello @Model.FirstName,
<br />
Click here to reset your password: <a href="@Model.ResetPasswordUrl">@Model.ResetPasswordUrl</a>

<br />
Looking forward to seeing you again!
<br/>
- The Heddoko Team