@model Services.MailSending.Models.ForgotPasswordEmailViewModel

@{
    Layout = "_LayoutEmail";
}

Hello @Model.FirstName,
<br />
Your username for the Heddoko Dashboard is: @Model.Username
<br />
You can use it to sign in here: <a href="https://app.heddoko.com">https://app.heddoko.com </a>
<br />
- The Heddoko Team