@model Services.MailSending.Models.ForgotPasswordEmailViewModel

@{
    Layout = "_LayoutEmail";
    var url = DAL.Config.DashboardSite + string.Format("/forgot/{0}", Model.ForgotToken);
}

Hello @Model.FirstName,
<br />
Click here to reset your password: <a href="@url">@url</a>

<br />
Looking forward to seeing you again!
<br/>
- The Heddoko Team