@using DAL
@model Services.MailSending.Models.InviteAdminUserEmailViewModel

@{
    Layout = "_LayoutEmail";
}

Hi @Model.FirstName.
<br />
Welcome to Heddoko.<br />
You're invited to become a member of @Model.OrganizationName on Heddoko
<br /><br />
@if (!string.IsNullOrEmpty(Model.Password))
{
    <text>
        Your username is @Model.Username. Your password is: @Model.Password.
        you can log in and change your password here: <a href="app.heddoko.com">app.heddoko.com</a>
        and use these credentials in our desktop app. 
    </text>
}
else
{
    <text>
        Please ask your admin of organization for license activation
    </text>
}
<br /><br />
- The Heddoko Team
<br /><br />
<b>Need help? Contact </b> <a href="mailto:support@heddoko.com" rel="nofollow" target="_blank">support@heddoko.com</a>

