@model Heddoko.Models.BaseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="header clearfix">
        <h3>@Html.Raw(i18n.Resources.Ergoscore)</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="ergoscoreGrid">

            </div>
        </div>
    </div>
</div>

