<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HDContext" connectionString="Server=tcp:heddoko-backend.database.windows.net,1433;Data Source=heddoko-backend.database.windows.net;Initial Catalog=heddoko-backend-live;Persist Security Info=False;User ID=heddoko;Password=P@ssWord@09;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AllowInitData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>