<?xml version="1.0" encoding="utf-8"?>
<!--
	@file packages.config
	@brief Functionalities required to operate it.
	@author Sergey Slepokurov (sergey@heddoko.com)
	@date 11 2016
	Copyright Heddoko(TM) 2017,  all rights reserved
-->
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>