<div class="row">
    <div class="col-md-4">
        <div class="filters kitsFilter">
            <div>
                <label for="kitsSearch" class="control-label">@i18n.Resources.Search</label>
                <input id="kitsSearch"
                       class="form-control"
                       type="text"
                       placeholder="@i18n.Resources.Enter @i18n.Resources.ID"
                       data-bind="value: search, events:{ keyup: keyup }" />
            </div>
            <div class="margin010">
                <button type="button" data-bind="click: find" class="btn btn-default">@i18n.Resources.Find</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="kitsGrid">

        </div>
    </div>
</div>