<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DashboardSite" value="http://dev.app.heddoko.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PublicApiSite" value="http://openapi.dev.app.heddoko.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@heddoko.co" xdt:Transform="Replace">
        <network host="127.0.0.1" port="25" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
  </system.web>
</configuration>