<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AllowInitData" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="JWTSecret" value="HEDFstcKsx0NHjPSsjcndjnckSDJjknCCSjcnsJSK89SJDkvVBrk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DashboardSite" value="https://app.heddoko.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RedisConnectionString" value="heddoko-backend-live.redis.cache.windows.net:6380,password=AQA9rNJNME0ZZsyfXNbNSVtgZnlahjO7NT0uD66ZHA8=,ssl=True,abortConnect=False,allowAdmin=true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AssetsContainer" value="assets"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetsServer" value="https://heddokobackend.blob.core.windows.net/assets"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="HDContext" connectionString="Server=tcp:heddoko-backend.database.windows.net,1433;Data Source=heddoko-backend.database.windows.net;Initial Catalog=heddoko-backend-live;Persist Security Info=False;User ID=heddoko;Password=P@ssWord@09;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="elmah-sqlserver" connectionString="Server=tcp:heddoko-backend.database.windows.net,1433;Data Source=heddoko-backend.database.windows.net;Initial Catalog=heddoko-backend-live-error;Persist Security Info=False;User ID=heddoko-backend-live-error;Password=heddoko-backend-live-error;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@heddoko.co" xdt:Transform="Replace">
        <network host="127.0.0.1" port="25" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP Redirect to HTTPS" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>