<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AllowInitData" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DashboardSite" value="https://app.heddoko.co" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RedisConnectionString" value="*,defaultDatabase=0,abortConnect=false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AssetsContainer" value="assets"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AssetsServer" value="https://heddokobackend.blob.core.windows.net/assets"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <connectionStrings>
    <add name="HDContext" connectionString="Data Source=*;Initial Catalog=heddoko;Persist Security Info=True;User ID=*;Password=*; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@heddoko.co" xdt:Transform="Replace">
        <network host="127.0.0.1" port="25" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <trace indentsize="4" autoflush="true" xdt:Transform="Replace">
      <listeners>
        <add name="SiteFileListener" type="DAL.Diagnostics.SplittedTraceListener, DAL" initializeData="C:\ProgramData\Heddoko\Heddoko.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>