<?xml version="1.0"?>

<!--
	@file App.Dev.config
	@brief Functionalities required to operate it.
	@author Sergey Slepokurov (sergey@heddoko.com)
	@date 12 2016
	Copyright Heddoko(TM) 2017,  all rights reserved
-->

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DashboardSite" value="http://dev.app.heddoko.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>