@model Heddoko.Models.BaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page">
    <div class="header clearfix">
        <h3>@i18n.Resources.Requirements</h3>
    </div>
</div>