$tablet_width: 480px;
$desktop_width: 1024px;
$main_font: 'Proxima Nova', sans-serif;
$body_circle_color: #3bd6b4;
$login_link: #3bd6b2;
$heddoko_green: #3bd6b2;
$heddokogreen: $heddoko_green;
$body_text_color:#ddd;
$body_background_color:#1c242c;
$selection_color:#fff;
$a_color:#fff;

$status_red: #9d2a27;
$status_yellow: yellow;
$status_green: #759632;
$status_black: black;
$status_orange: #ffc000;
$status_brown: #c36518;
