<div class="row">
    <table class="col-md-12">
        <tr>
            <th class="col-md-4">@i18n.Resources.Assembly</th>
            <th class="col-md-4">@i18n.Resources.QuantityOnHand</th>
            <th class="col-md-4">@i18n.Resources.QuantityProducible</th>
        </tr>
    </table>
</div>
