@model Heddoko.Models.ActivationUserEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Welcome @Model.FirstName,
<br />
Click here to activate your account: <a href="@(Heddoko.Config.DashboardSite + $"/confirm/{Model.Token}")">@(Heddoko.Config.DashboardSite + $"/confirm/{Model.Token}")</a>
<br />
- The Heddoko Team
