@model Heddoko.Models.ForgotPasswordEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Hello @Model.FirstName,
<br />
Click here to reset your password: <a href="@(Heddoko.Config.DashboardSite + $"/forgot/{Model.ForgotToken}")">@(Heddoko.Config.DashboardSite + $"/forgot/{Model.ForgotToken}")</a>
<br />
Looking forward to seeing you again!
<br/>
- The Heddoko Team