@model Heddoko.Models.InviteAdminUserEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Welcome @Model.FirstName. You're invited to become part of the organization @Model.OrganizationName
<br />
@if (!string.IsNullOrEmpty(Model.Token)) {
    <text>
    Click here to activate your account: <a href="@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")">@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")</a>
    </text>
}
else
{
    <text>
        Please ask your admin of organization for license activation
    </text>
}
<br />
- The Heddoko Team
