@model Heddoko.Models.InviteAdminUserEmailViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

Welcome @Model.FirstName. You're invited to become a member of @Model.OrganizationName on Heddoko
<br /><br />
@if (!string.IsNullOrEmpty(Model.Token)) {
    <text>
    Click here to activate your account: <a href="@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")">@(Heddoko.Config.DashboardSite + $"/invite/{Model.Token}")</a>
    </text>
}
else
{
    <text>
        Please ask your admin of organization for license activation
    </text>
}
<br /><br />
- The Heddoko Team
<br /><br />
<b>Need help? Contact </b> <a href="mailto:support@heddoko.com" rel="nofollow" target="_blank">support@heddoko.com</a>
